@using WebAdmin.Client.Shared.Produtos
@using WebAdmin.Shared.Models;
@inject HttpClient Http

<div class="modal fade" id="@Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ManterProdutoModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>Cadastro de Produto</h1>
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" class="form-control"value="@Produto.Nome"  >
                        </div>

                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea id="descricao" class="form-control" value="@Produto.Descricao"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="categoria">Categoria:</label>
                            <input type="text" id="categoria" class="form-control" value="@Produto.Categoria.Nome">
                        </div>

                        <div class="form-group">
                            <label for="preco">Preço:</label>
                            <input type="text" id="preco" class="form-control" value="@Produto.Preco">
                        </div>

                        <div class="form-group">
                            <label for="imagens">Imagens:</label>
                            <div id="imagens-container">
                                <!-- Aqui serão exibidas as imagens -->
                            </div>
                            <input type="file" id="imagens-input" class="form-control-file" accept="image/*">
                        </div>

                        <div class="form-group">
                            <label for="estoque">Estoque:</label>
                            <input type="text" id="estoque" class="form-control" value="@Produto.Estoque">
                        </div>

                        <div class="form-group">
                            <label for="peso">Peso ou Quantidade:</label>
                            <input type="text" id="peso" class="form-control" value="@Produto.PesoOuQuantidade">
                        </div>

                        <div class="form-group">
                            <label for="opcoes">Opções de Variação:</label>
                            <select id="opcoes" class="form-control">
                                <!-- Aqui serão exibidas as opções de variação -->
                            </select>
                        </div>

       @*                 <div class="form-group">
                            <label for="disponibilidade">Disponibilidade:</label>
                            <input type="text" id="disponibilidade" class="form-control" value="@Produto.Nome">
                        </div>
*@
@*                 <div class="form-group">
                            <label for="palavras-chave">Palavras-chave:</label>
                            <input type="text" id="palavras-chave" class="form-control" value="@Produto.Nome">
                        </div>*@

@*          <div class="form-group">
                            <label for="destaque">Destaque:</label>
                            <input type="text" id="destaque" class="form-control"  value="@Produto.Nome" >
                        </div>
*@
          @*              <div class="form-group">
                            <label for="promocao">Produto em Promoção:</label>
                            <input type="text" id="promocao" class="form-control">
                        </div>*@
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public ProdutoModel Produto { get; set; }

    public void OnSubmit()
    {

    }

}
